body{
    background-color: lightseagreen;
    margin: 0;
    text-align: center;
}
.nav{
   background-color: darksalmon;
   padding: 12px; 
   height: 40px;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.nav h4{
    color: lightgoldenrodyellow;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;

   

}
 .nav a{
    text-decoration: none;
    color: lightgoldenrodyellow;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}




.paragraphs{
    clear: both;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 600px;
    align-items: center;

}
.paragraphs p{
    clear: both;
    text-align: center;
    text-align: left;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.paragraphs h3{
color: lightgoldenrodyellow;
text-align: left;
font-family: Arial, Helvetica, sans-serif;

}

#first{
  border: 2px solid black;
  width: 200px;
  background-color: darksalmon;
  height: 450px;
  margin-top: 40px;
}
#second{
    border: 2px solid black;
    width: 200px;
    background-color: darksalmon;
    height: 450px;
    margin-top: 40px;

}
#third{
    border: 2px solid black;
    width: 200px;
    background-color: darksalmon;
    height: 450px;
    margin-top: 40px;
   
}
#fourth{
    border: 2px solid black;
    width: 200px;
    background-color: darksalmon;
    height: 450px;
    margin-top: 40px;
}
input[type=submit]{
    width: 150px ;
    margin-top: 30px;
    height: 25px;
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}
